{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Album</legend>
                <div class="form-group">
                    {{ form.album_name.label(class="form-control-label") }}
                    {% if form.album_name.errors %}
                        {{ form.album_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.album_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.album_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.cover_pic.label() }}
                    {{ form.cover_pic(class="form-control-file") }}
                    {% if form.cover_pic.errors %}
                        {% for error in form.cover_pic.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-check">
                    {{ form.is_private(class="form-check-input") }}
                    {{ form.is_private.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}